/* start About_me */
.about-me {
    height: 100vh;
    color: #fff;
    background-color: var(--background-color);
}
.about-me__container {   
    margin: 0 10rem;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
}
.about-me__title{
    grid-area: title;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    padding: 2rem;
    color: var(--text-color-2);
}
.about-me__mobile {
    grid-area: card1;
}
.about-me__web {
    grid-area: card2;
}
.about-me__web,
.about-me__mobile {
    width: 40rem;
    height: 20rem;

    background-color: var(--primary-color);

    border-radius: 5px;
    transition: 0.6s;
}
.about-me__web:hover,
.about-me__mobile:hover {
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);

    width: 46rem;
    height: 21rem;
}
.about-me__web:hover ~ p,
.about-me__mobile:hover ~ p {
    font-size: 2rem;
}
.ab__card--title {
    padding: 2rem;

    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;

    color: var(--text-color-2);
}
.ab__card--descri {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 0 1rem;

    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    color: var(--text-color);
}
.card--descri--title {
    color: #fff;

    font-size: 1.2rem;
    font-weight: 300;
}
.card--descri--title2 {
    color: var(--text-color-2);

    font-size: 1.1rem;
    font-weight: 300;
}
.about-me__presentation {
    grid-area: text1;
}
.ab__presentation--intro {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: var(--text-color);
}
.about-me__presentation h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    color: #fff;
    padding-bottom: 1rem;
}
.about-me__presentation h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
    color: #e5e5e5;
    padding-bottom: 2rem;
    
}
.ab--span {
    color: var(--text-color-2);
}
.ab__span:hover {
    color: #fff;
}
.ab--text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}


@media (min-width: 1800px) {
    .about-me__web,
.about-me__mobile {
    width: 50rem;
}
.about-me__web:hover,
.about-me__mobile:hover {
    width: 52rem;
}
}
@media (max-width: 1600px) {
   .about-me__container {
    margin: 0 8rem;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.2fr 0.4fr;
    grid-template-areas: 
    "title"
    "text1"
    "card1"
    "card2";
   }
   .about-me__title,
   .about-me__mobile,
   .about-me__web,
   .about-me__presentation {
       text-align: center;
   }
   .about-me__web,
   .about-me__mobile{
    width: 70vw;
    height: 18rem;
}
.ab--text {
    line-height: 2rem;
    margin: 0 6rem;
    text-align: left;
    
}
.about-me__web {
    margin-bottom: 3rem;
    
}
.about-me__container {   
    margin: 0 1rem;
}
.about-me__web:hover,
.about-me__mobile:hover {
width: 72vw;
height: 21rem;
}
}

@media (max-width: 540px) {

}

@media (max-width: 540px) {
    .ab--text {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.05em;
        color: var(--text-color);
    }
}