/* start About_me */
.about-me {
    height: 110vh;
    color: #fff;
    background-color: var(--background-color);
}
.about-me__container {   
    margin: 0 10rem;
    height: 110vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.4fr 1fr;
    grid-gap: 1.5rem;
    grid-template-areas: 
    "title title"
    "card1 text1"
    "card2 text1";
}
.about-me__title{
    grid-area: title;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    padding: 2rem;
    color: var(--text-color-2);
}
.about-me__mobile {
    grid-area: card1;
}
.about-me__web {
    grid-area: card2;
}
.about-me__web,
.about-me__mobile {
    width: 45rem;
    height: 20rem;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.about-me__web:hover,
.about-me__mobile:hover {
    box-shadow: black;
}
.ab__card--title {
    padding: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    color: var(--text-color-2);
}
.ab__card--descri {
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    color: var(--text-color);
}
.about-me__presentation {
    grid-area: text1;
}
.ab__presentation--intro {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    color: var(--text-color);
}
.about-me__presentation h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    color: #fff;
    padding-bottom: 1rem;
}
.about-me__presentation h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
    color: #e5e5e5;
    padding-bottom: 2rem;
    
}
.ab--span {
    color: var(--text-color-2);
}
.ab--text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}



@media (max-width: 1200px) {
   .about-me__container {
    margin: 0 8rem;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.2fr;
    grid-template-areas: 
    "title"
    "text1"
    "card1"
    "card2";
   }
   .about-me__title,
   .about-me__mobile,
   .about-me__web,
   .about-me__presentation {
       text-align: center;
   }
   .about-me__web,
   .about-me__mobile{
       width: 42rem;
    height: 18rem;
}
.ab--text {
    line-height: 2rem;
    margin: 0 6rem;
    
}
.about-me__web {
    margin-bottom: 3rem;
    
}
.about-me__container {   
    margin: 0 1rem;
}
}

@media (max-width: 540px) {
    .ab--text {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.05em;
        color: var(--text-color);
    }
    .about-me__web,
   .about-me__mobile{
    width: 35rem;
}
}