.bnt__form--container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bnt--form{

    color:black;
    background-color: var(--text-color-2);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.2rem 1rem;
    margin: 10%;
    border-radius: 0.2rem;
    border: unset;
    letter-spacing: 0.08rem;
}
    
