/* start contact */
.contact{
    color: #fff;
    background-color: var(--background-color);
}
.contact__container {
    margin: 0 10rem;
    height: 90vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contact_text-title {
    width: 60rem;
    font-size: 2.6rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.contact_text-subtitle {
    font-size: 2rem;
    font-weight: 300;
}
.contact_text-subtitle span {
    color: var(--text-color-2);
}
.contact__container li {
    display: inline-block;
}

.contact__container i {
    font-size: 3rem;
    padding-top: 3rem;
    padding-right: 1rem;
    color: #fff;
}

@media (max-width:1400px) {
    .contact__container {
        margin: 0 5rem;
    }
}

@media (max-width:650px) {
    .contact_text-title {
        width: 75vw;
        font-size: 2.6rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }
}