/* start footer */
.footer {
    background-color: var(--background-color);
    padding:1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__copy{
    font-weight: 400;
    color: #fff;
}
.footer__copy--2 {
    font-weight: 300;
}
.footer__copywrite {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}