/* start Home */
#home{
    height: 100vh;
    background-color: var(--primary-color);
    text-align: start;
}
.home__container {
    margin: auto;
    padding-top: 150px;
    max-width: 1700px;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.background__h4{
    display: flex;
    align-items: center;
    justify-content: start;
}

.home__h4 {
    font-size: 1rem;
    color: black;
    background-color: var(--text-color-2);
    border-radius: 5px;
    padding: 0.6rem 0.6rem;
    width: 13rem;
}
.home__title {
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 4.5625rem;
    letter-spacing: 0.02em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.home__text {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;

    color: var(--text-color);
}
.home__img {
    display: flex;
    align-items: center;
    max-width: 500px;
}
.home__img img {
    width: 400px;
}
@media (max-width: 1000px) {
    .home__container {
        padding-top: 0;
        flex-direction: column;
    }
    .home__copy{
        padding-top: 80px;
    }
    .home__img img {
        width: 300px;
    }
}

@media (max-width: 520px) {
    .home__h4 {
        font-size: 1rem;
        color: black;
        background-color: var(--text-color-2);
        border-radius: 5px;
        padding: 0.6rem 0.6rem;
        width: 13rem;
    }
    .home__title {
        font-weight: 400;
        font-size: 3rem;
        line-height: 4.5625rem;
        letter-spacing: 0.02em;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .home__text {
        font-size: 1rem;
        line-height: 1.6rem;
        letter-spacing: 0.05em;
    
        color: var(--text-color);
    }
    .home__img {
        display: flex;
        align-items: center;
        max-width: 500px;
    }
}