#btn--mobile {
    position: fixed;
    bottom: 3rem;
    right: 2.5rem;
    display: none;
    font-size: 3.8rem;
    background-color: var(--text-color-2);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 1002;
}

@media (max-width: 1000px) {
    #btn--mobile {
        display: block;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80vw;
        width: 0;
        height: 100vh;
        top: 0;
        right: 0px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
        background-color: rgba(0, 0, 0, .8);
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-x: hidden;
    }
    #nav.active #menu {
        width: 80vw;
        visibility: visible;
        overflow-x: auto;
    }
    #menu li {
        font-size: 2rem;
        padding: 2rem 0;
    }
}
