/* start navbar */
.navbar {
    width: 100vw;
    position: fixed;
    grid-area: nav;
    color: white;
    background-color: var(--primary-color);

}

.navbar__container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 10%;
}
.navbar__logo--pedro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.05em;
}
.navbar__logo--henrique {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
ul {
    list-style: none;
}
.navbar__links li {
    padding: 0 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0.05em;
}
.navbar__links a {
    text-decoration: none;
    color:#fff;
    font-weight: 300;
}
.navbar__links a.active {
    color: var(--text-color-2);
}

.navbar__links a:hover {
    color: var(--text-color-2);
}
