.projects {
    color: #fff;
    background-color: var(--background-color);
}
.projects__container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects__title{
    margin-top: 40px;
    text-align: center;
    grid-area: title;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    padding: 2rem;
    color: var(--text-color-2);
}

.projects h4 {
    padding: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    color: var(--text-color-2);
}
.projects li {
    display: inline-block;
}

.skills {
    text-align: center;
    width: 50rem;
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}
.experience p,.learning p {
    transition: 0.3s;
}
.experience p:hover,.learning p:hover {
    font-size: 4rem;
}

.experience,.learning {
    background-color: var(--primary-color);
    font-size: 3rem;
    width: 24rem;
    height: 12rem;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;

    transition: 0.2s;
}
.experience:hover,.learning:hover {
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.icon__js,.icon__js2 {
    color: #EFD81D;
    cursor: pointer;
}
.icon__css {
    color: #254BDD;
    cursor: pointer;
}
.icon__html {
    color: #DD4B25;
    cursor: pointer;
}
.icon__react {
    color: #5ED3F3;
    cursor: pointer;
}
.icon__nodejs {
    color: #7BB540;
    cursor: pointer;
}
.icon__angular {
    color: #BD002E;
    cursor: pointer;
}
.icon__c {
    color: #00427E;
    cursor: pointer;
}

@media (max-width: 1800px) {
    .skills {
        text-align: center;
        height: 25rem;
        align-items: center;
        flex-direction: column;
    }
    .experience,.learning {
        width: 50rem;
        height: 12rem;
    }
    .experience:hover,.learning:hover {
        box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
    }
    .experience p,.learning p {
        font-size: 4rem;
    }
    .experience p:hover,.learning p:hover {
        font-size: 5rem;
    }

}
@media (max-width: 650px) {
    .experience,
    .learning {
    width: 93vw;
    }
}