@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: normal;
  overflow: hidden;
}

a{
  text-decoration: none;
  transition: 0.4s;
  color: var(--secondary-color);
}


